<div class="container">
<h1 class=text-center id="question.new">edit answer</h1> 
<%= form_with model: [@question, @answer], local: true do |f| %>   
<div class="form-group"> 
<label class="text-center">name</label>
<%= f.text_field :name, class: "form-control" %>  
</div> 
<div class="form-group"> 
<label class="text-center">content</label>
<%= f.text_area :content, class: "form-control" %>  
</div> 
<div class="text-center">
<%= f.submit "send", class: "btn btn-warning" %> 
</div>
<% end %> 
</div>  
<div class="text-center">
<%= link_to "HOME", root_path, class: "btn btn-warning", id: "button" %> 
</div>